.grid-container {
    display: grid;
    gap: 1em;
    padding: 10px;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  
  .grid-item {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
  }
  
  .item1 {
    background-color: green;
    grid-area: 1 / span 8;
    grid-row: 1;
  }
  
  .item2 {
    background-color: darkblue;
    grid-column: 1 / span 2;
    grid-row: 2 / span 6;
  }

  .item3 {
    background-color: darkviolet;
    grid-column: 3 / 9;
    grid-row: 2;
  }

  .item4 {
    background-color: purple;
    grid-column: 3 / 9;
    grid-row: 3 / 8;
  }
  
  .item5 {
    background-color: black;
    grid-column: 1 / span 8;
    grid-row: 8;
  }